<head>
  <title>Moonify: the rocket for the Moon</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<template name="App">
  {{> navBar}}
  <div class="container App__container white">
    {{> Template.dynamic template=template}}
  </div>
  {{> footer}}
</template>

<template name="navBar">
  <nav class="indigo lighten-3">
    <div class="nav-wrapper">
      <a href="{{pathFor 'Homepage'}}" class="brand-logo">Moonify</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{pathFor 'Homepage'}}">Home</a></li>
        <li><a href="{{pathFor 'BestTraders'}}">Top traders</a></li>
        {{#if currentUser}}
          <li><a href="{{pathFor 'EditProfile'}}">Profile</a></li>
          <li><a href="#" data-action="logout">Se déconnecter</a></li>
        {{else}}
          <li><a href="{{pathFor 'Signup'}}">Sign up</a></li>
          <li><a href="{{pathFor 'Login'}}">Log in</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>

<template name="footer">
  <footer class="page-footer indigo lighten-3">
    <div class="footer-copyright">
      <div class="container">
        © 2017 Moonify
        <a class="grey-text text-lighten-4 right" href="https://flashmvp.net" target="_blank">FlashMVP: Valider votre idée</a>
      </div>
    </div>
  </footer>
</template>

<template name="NotFound">
  Cette page n'existe pas
</template>
