.App__container {
  padding: 0;
  min-height: calc(100vh - 64px - 50px)
}

.brand-logo {
  margin: 0 12px;
}

.page-footer {
  padding-top: 0 !important;
}

body {
  background-color: #fafafa;
}

.App__container h2 {
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  padding: 12px;
}
