.BestTraders__trader {
  display: flex;
  align-items: center;
}

.BestTraders__trader_info {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1 1 auto;
}

.BestTraders__container .collection-item:hover {
  background-color: #f7f7f7;
}

.BestTraders__trader_avatar {
  border-radius: 50%;
  margin-right: 24px;
  height: 40px;
  width: 40px;
}

.BestTraders__trader_username {
  font-weight: bold;
  text-transform: capitalize;
}

.BestTraders__trader_performance {
  color: green;
}

.BestTraders__trader_ranking {
  font-weight: bold;
  margin-right: 12px;
}
