<template name="BestTraders">
  <div class="BestTraders__container">
    <h2>Top traders</h2>
    <ul class="collection">
      {{#each traders}}
        {{> BestTradersLine}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="BestTradersLine">
  <li class="collection-item BestTraders__trader" data-action="user-profile">
    <div class="BestTraders__trader_ranking">
      <!-- {{displayRanking(@index)}}. -->
    </div>
    <div class="BestTraders__trader_info">
      <img src="{{thumbnail}}" class="BestTraders__trader_avatar" alt="">
      <span class="BestTraders__trader_username">{{username}}</span>
    </div>
    {{#if orders}}
      <div class="BestTraders__trader_performance">
        +{{performance}}%
      </div>
    {{else}}
      <div class="red lighten-4">This user did not set up his account.</div>
    {{/if}}
  </li>
</template>
