<template name="EditProfile">
  <div class="EditProfile__container">
    <div><a class="waves-effect waves-light btn" href="{{pathFor 'TraderProfile' username=getUsername}}">Voir mon profil public</a></div>
    <h3>Personal information</h3>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input disabled value="{{userEmail}}" id="disabled" type="text" class="validate">
            <label for="disabled">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Username</label>
          </div>
        </div>
      </form>
    </div>
    <form action="">
      <h3>Exchanges</h3>
      <div class="row">
        <form class="col s12">
          <h4>Kraken</h4>
          <div class="row">
            <div class="input-field col s12">
              <input id="kraken_api_key" type="text" class="validate" value="{{krakenKey}}">
              <label for="kraken_api_key">Kraken API key</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="kraken_api_secret" type="text" class="validate" value="{{krakenSecret}}">
              <label for="kraken_api_secret">Kraken API secret</label>
            </div>
          </div>

          <h4>Bittrex</h4>
          <div class="row">
            <div class="input-field col s12">
              <input id="bittrex_api_key" type="text" class="validate" value="{{bittrexKey}}">
              <label for="bittrex_api_key">Bittrex API key</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="bittrex_api_secret" type="text" class="validate" value="{{bittrexSecret}}">
              <label for="bittrex_api_secret">Bittrex API secret</label>
            </div>
          </div>
          <div class="row">
            <a class="waves-effect waves-light btn" data-action="save-profile">Save</a>
          </div>
        </form>
      </div>
    </form>

  </div>
</template>
