.Homepage__container {
  padding: 24px;
}

.Homepage__post {
  margin-bottom: 12px;
  padding: 12px 24px;
}

.Post__owner {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.Post__avatar {
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}

.Post__row {
  display: flex;
  align-items: center;
}

.Post__date {
  font-size: 12px;
  color: #ababab;
}

.Post__order {
  border-radius: 6px;
  padding: 6px 12px;
  width: 240px;
  margin: 12px auto;
  display: flex;
  align-items: center;
}

.Post__rate {
  text-align: right;
}

.Post__rate i {
  font-size: 14px;
  cursor: pointer;
}

.Homepage__timeline {
  width: 400px;
}
