<template name="Homepage">
  <div class="Homepage__container">
    <div class="Homepage__timeline">
      {{#each recentPosts}}
        {{> Post}}
      {{/each}}
    </div>
    <div>

    </div>
  </div>
</template>

<template name="Post">
  <div class="grey lighten-5 Homepage__post">
    <div class="Post__row">
      <img src="{{picture.medium}}" data-action="go-profile" alt="" class="Post__avatar">
      <div>
        <div class="Post__owner" data-action="go-profile">{{login.username}}</div>
        <div class="Post__date">13 minutes ago</div>
      </div>
    </div>
    <div class="purple lighten-5 Post__order">
      <i class="material-icons">watch_later</i>
      <div class="lastOrders__info">
        <div class="lastOrders__row">
          <div class="lastOrders__exchange">
            KRAKEN
          </div>
        </div>
        <div class="lastOrders__row">
          <div class="lastOrders__pair">XBT/EUR</div>
          <div class="lastOrders__price">5093</div>
        </div>
        <div class="lastOrders__row">
          <div class="lastOrders__type lastOrders__type--sell">Sell</div>
          <div class="lastOrders__vol">0.01</div>
        </div>
      </div>
    </div>
    <div class="Post__rate">
      <i class="material-icons" data-action="post_up">thumb_up</i>
      <i class="material-icons" data-action="post_down">thumb_down</i>
    </div>
  </div>
</template>
