.Login__container,
.Signup__container {
  padding: 48px 72px;
}

.Login__error_message,
.Signup__error_message {
  color: red;
  margin-bottom: 12px;
}

.Signup__title,
.Login__title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.Login__container,
.Signup__container {
  text-align: center;
}

.Signup__redirect,
.Login__redirect {
  margin-top: 12px;
}
