<template name="Login">
  <div class="Login__container">
    <div class="Login__title">Log in with your email address</div>
    <div class="row">
      <div class="col s3"></div>
      <form class="col s6">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="Login__error_message">{{errorMessage}}</div>
        <a class="waves-effect waves-light btn" data-action="login">Log in</a>
        <div class="Login__redirect">Doesn't have an account? <a href="{{pathFor 'Signup'}}">Sign up</a></div>
      </form>
    </div>
  </div>
</template>

<template name="Signup">
  <div class="Signup__container">
    <div class="Signup__title">Sign up with your email address</div>
    <div class="row">
      <div class="col s3"></div>
      <form class="col s6">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="Signup__error_message">{{errorMessage}}</div>
        <a class="waves-effect waves-light btn {{#unless isFormValid}}disabled{{/unless}}" data-action="signup">Sign up</a>
        <div class="Signup__redirect">Already have an account? <a href="{{pathFor 'Login'}}">Log in</a></div>
      </form>
    </div>
  </div>
</template>
