.Portfolio__container {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 120px;
}

canvas {
  margin: auto;
}

.Profile__trade {
  display: flex;
}

.TraderProfile__presentation {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.TraderProfile__avatar {
  margin-right: 24px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.TraderProfile__container h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}

.TraderProfile__container h1 {
  font-size: 24px;
  margin: 0;
}

.TraderProfile__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TraderProfile__banner {
  height: 270px;
}

.TraderProfile__inner {
  padding: 24px 48px;
}

.TraderProfile__abonnement {
  color: #bbb;
}

.TraderProfile__name_container {
  display: flex;
  flex: 1 1 auto;
}

.lastOrders__type {
  text-transform: capitalize;
}

.lastOrders__type--sell {
  color: red;
}

.lastOrders__type--buy {
  color: green;
}

.lastOrders__pair {
  text-transform: uppercase;
  flex: 1 1 auto;
  font-weight: bold;
}

.lastOrders__container {
  flex: 0 0 240px
}

.lastOrders__vol {
  font-size: 12px;
}

.lastOrders__row {
  display: flex;
  align-items: center;
}

.lastOrders__type {
  flex: 1 1 auto;
  font-size: 12px;
}

.lastOrders__exchange {
  font-size: 12px;
}

.lastOrders__info {
  flex: 1 1 auto;
  margin-left: 12px;
}

.TraderProfile__username {
  text-transform: capitalize;
}
