<template name="TraderProfile">
  <div class="TraderProfile__container">
    <div class="TraderProfile__banner indigo lighten-5">
    </div>

    <div class="TraderProfile__inner">
      <div class="TraderProfile__presentation">
        {{#with getTraderProfile}}
          <div class="TraderProfile__name_container">
            <img src="{{thumbnail}}" alt="" class="TraderProfile__avatar">
            <div class="TraderProfile__name">
              <h1 class="TraderProfile__username">{{username}}</h1>
              <div class="TraderProfile__abonnement">43 abonnés</div>
            </div>
          </div>
        {{/with}}
        {{#if isMyProfile}}
          <a class="waves-effect waves-light btn" href="{{pathFor 'EditProfile'}}">Edit</a>
        {{else}}
          <a class="waves-effect waves-light btn" data-action="">S'abonner</a>
        {{/if}}
      </div>
      {{#if currentUser}}
      <div class="Profile__trade">
        {{#if traderBalance}}
          {{> portfolio traderBalance}}
        {{else}}
          <div class="red lighten-4">This user did not set up his account.</div>
        {{/if}}

        {{#if traderOpenOrders}}
          {{> lastOrders traderOpenOrders}}
        {{else}}
          <div class="red lighten-4">This user did not set up his account.</div>
        {{/if}}

      </div>
      {{else}}
        Please log in.
      {{/if}}
    </div>
  </div>
</template>

<template name="tickerInfo">
  <ul class="collection">
    {{#each tickerInfos}}
      <li class="collection-item">{{asset}} {{value}}€</li>
    {{/each}}
  </ul>
</template>

<template name="lastOrders">
  <div class="lastOrders__container">
    <h3>Last Orders</h3>
    <ul class="collection">
      {{#each lastOrders}}
        <li class="collection-item">
          <div class="lastOrders__row">
            <i class="material-icons">watch_later</i>
            <div class="lastOrders__info">
              <div class="lastOrders__row">
                <div class="lastOrders__exchange">
                  KRAKEN
                </div>
              </div>
              <div class="lastOrders__row">
                <div class="lastOrders__pair">{{pair}}</div>
                <div class="lastOrders__price">{{price}}</div>
              </div>
              <div class="lastOrders__row">
                <div class="lastOrders__type {{#if $eq type 'buy'}}lastOrders__type--buy{{else}}lastOrders__type--sell{{/if}}">{{type}}</div>
                <div class="lastOrders__vol">{{vol}}</div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="portfolio">
  <div class="Portfolio__container">
    <canvas id="portfolioChart" width="300" height="300"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </div>
</template>
